@import "../style";

.home__hero__content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  @include flexbox(
    $direction: column,
    $justify: flex-end,
    $items: flex-start,
    $gap: 1.25rem
  );

  &__title {
    display: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    @include tablet {
      display: block;
    }
  }

  &__firstLine {
    @include flexbox($justify: flex-start, $items: center, $gap: 1.25rem);
    width: 100%;
    @include tablet {
      flex-direction: column;
    }
  }

  @include tablet {
    &__firstLine > * {
      max-width: 100%;
    }
  }

  &__secondLine {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;

    &__item {
      flex-grow: 1;
      width: 25%;
      @include desktop {
        width: initial;
      }
      @include tablet {
        width: 25%;
      }
      @include mobile {
        width: initial;
      }
    }

    &__item.tablet__none {
      @include tablet {
        display: none;
      }
    }
  }

  &__thirdLine {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;

    &__item {
      flex-grow: 1;
      width: 25%;

      &__amount {
        width: 100%;
        @include flexbox($justify: flex-start, $items: center);

        input {
          width: 50%;
          margin: 0;
          border: none;
          outline: none;
          padding: 10px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          background: $white;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type="number"] {
          appearance: textfield;
          -moz-appearance: textfield;
        }

        input.amount__min {
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
        }

        input.amount__max {
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
        }
      }

      &__currency {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 10px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: $white;
        outline: none;
        display: flex;
        align-self: flex-start;

        &:focus {
          border-color: $primary;
        }
      }

      &__year {
        @include flexbox($justify: flex-start, $items: center);
        width: 100%;
      }

      &__code {
        width: 100%;
        padding: 14px;
        border-radius: 8px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: $white;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:focus {
          border-color: $primary;
        }
      }
    }

    @include tablet {
      flex-direction: column;

      .home__hero__content__thirdLine {
        width: 100%;

        &__item {
          width: 100%;

          &__amount {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;

            input {
              min-width: 100%;
            }
          }

          &__year {
            min-width: 100%;
          }

          &__currency,
          &__code {
            width: 100%;
          }
        }
      }
    }
  }

  &__fourthLine {
    @include flexbox($justify: center, $items: center, $gap: 5.5rem);
    width: 100%;

    &__clearBtn {
      margin-right: auto;
    }

    &__clearBtn,
    &__moreFilter {
      border: none;
      outline: none;
      background-color: transparent;
      color: $grayish3;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      @include mobile3 {
        font-size: 16px;
      }

      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }

    &__search {
      width: 250px;
      padding: 10px;
      border: none;
      outline: none;
      color: $white;
      background-color: $primary;
      border-radius: 8px;
      height: 40px;
      @include flexbox($justify: center, $items: center, $gap: 0.5rem);

      &:hover {
        cursor: pointer;
        background-color: $hover;
      }

      &__text {
        @extend %font-normal;
      }
    }

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      gap: 1.5rem;

      .home__hero__content__fourthLine__moreFilter {
        width: max-content;
        margin-left: auto;
      }

      .home__hero__content__fourthLine__search {
        width: 100%;
        grid-column: 1 / -1;
      }
    }
  }
}
