@import "../style";

.account__advert {
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $items: flex-start,
    $gap: 1.5rem
  );

  &__title {
    font-weight: 600;
    font-size: 20px;
    color: $font;
    @include flexbox($justify: flex-start, $items: center, $gap: 0.7rem);

    *:first-child {
      font-size: 20px;
      display: none;
      cursor: pointer;

      @include tablet {
        display: block;
      }
    }

    *:last-child {
      line-height: 0;
    }
  }

  &__tabs {
    width: 100%;
    @include flexbox($justify: space-between, $items: center);
    background-color: $white;
    border-radius: 8px;

    @include mobile {
      display: grid;
      grid-template-columns: repeat(4, minmax(150px, 1fr));
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      font-size: 16px;
      font-weight: 500;
      padding: 20px;
      height: 100%;
      position: relative;
      cursor: pointer;
      text-align: center;

      span {
        position: absolute;
        bottom: 0;
        left: 10%;
        background-color: $primary;
        display: block;
        width: 80%;
        height: 4px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: none;
      }

      &.active {
        span {
          display: block;
        }
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 30px;
    margin: 0 auto;
    width: 100%;
    @include large-screen {
      column-gap: 10px;
      row-gap: 20px;
    }
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    &__empty {
      font-size: 18px;
    }
  }
}
