@import "../index";

.more__options {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  row-gap: 30px;
  column-gap: 20px;
  width: 100%;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    border: 1px solid $grayish2;
    background: $white;
    padding: 14px;
    font-size: 15px;

    &:focus {
      border: 1px solid $primary;
    }

    &.isEmpty {
      border-color: $red;
    }
  }

  &__input::placeholder {
    color: $inputColor;
  }
}
