@import "../style";

.more__options {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  row-gap: 30px;
  column-gap: 20px;
  width: 100%;
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: $white;
    padding: 16px;

    &:focus {
      border: 1px solid $primary;
    }
  }
}
