@import "../style";

.note {
  padding: 20px;
  border-radius: 8px;
  background: $white-light;
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $items: flex-start,
    $gap: 1.25rem
  );
  width: 100%;

  &__title {
    @extend %font-title5;
    color: $font;
  }

  &__content {
    @extend %font-normal;
    letter-spacing: 0.16px;
    color: $grey1;
    @include mobile3 {
      font-size: 14px;
    }
  }

  &__extra {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start,
      $gap: 1rem
    );

    &__title {
      @extend %font-title5;
      color: $font;
    }

    &__content {
      @include flexbox($justify: flex-start, $items: flex-start, $gap: 1rem);
      flex-wrap: wrap;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 1rem;

      &__item {
        background-color: $grey3;
        border-radius: 100px;
        padding: 5px 10px;
        @include mobile3 {
          font-size: 14px;
        }
        color: $font;
        font-weight: normal;
      }
    }
  }
}
