@import "../index";

.car__others {
  @include flexbox(
    $direction: column,
    $justify: space-between,
    $items: flex-start,
    $gap: 1.25rem
  );
  width: 100%;

  &__title {
    @extend %font-normal;
  }

  &__content {
    @include flexbox($justify: space-between, $items: center, $gap: 1.875rem);
    @include mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      justify-content: space-between;
      gap: 1rem;
      &__item:last-child {
        grid-column: span 2;
      }
    }

    &__item {
      flex-grow: 1;
      @include flexbox($justify: flex-start, $items: center, $gap: 0.5rem);

      &__check[type="checkbox"] {
        appearance: checkbox;
        cursor: pointer;
        min-width: 20px;
        min-height: 20px;
        border-radius: 0.3rem;
      }

      &__check[type="checkbox"]:checked {
        accent-color: $primary;
      }

      &__title {
        @extend %font-normal;
        @include mobile3 {
          font-size: 15px;
        }
      }
    }
  }
}
