@import "../index";

.offer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  @include flexbox($justify: center, $items: center);

  &__content {
    padding: 32px;
    border-radius: 8px;
    background-color: $white;
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: center,
      $gap: 2rem
    );
    width: 400px;
    position: relative;
    box-shadow: $box-shadow;

    &__title {
      @include flexbox($justify: center, $items: center, $gap: 1rem);
      width: 100%;

      &__text {
        font-size: 20px;
        font-weight: 500;
        color: $font;
      }

      &__close {
        border: none;
        outline: none;
        background-color: transparent;
        position: absolute;
        top: 32px;
        right: 32px;
        cursor: pointer;
      }
    }

    &__form {
      @include flexbox(
        $direction: column,
        $justify: flex-start,
        $items: flex-start,
        $gap: 1rem
      );
      width: 100%;

      &__row {
        width: 100%;
        @include flexbox($justify: space-between, $items: center, $gap: 1rem);

        input,
        select {
          border-radius: 8px;
          padding: 10px;
          border: 1px solid $disabled;
          outline: none;
          font-size: 16px;
          font-weight: 400;
        }

        input {
          width: 100%;
        }
      }

      &__btn {
        border-radius: 8px;
        padding: 15px;
        background-color: $primary;
        border: none;
        outline: none;
        color: $white;
        width: 100%;
        font-size: 16px;
        font-weight: 400;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }
  }
}
