@import "../style";

.car__detail {
  padding: 32px 15%;
  background-color: $background;
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $items: flex-start,
    $gap: 1.375rem
  );
  width: 100%;
  @include x-large-screen {
    padding-left: 10%;
    padding-right: 10%;
  }
  @include large-screen {
    padding-left: 5%;
    padding-right: 5%;
  }

  &__breadcrumb {
    @include mobile3 {
      display: none;
    }
  }

  &__general {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start,
      $gap: 1rem
    );
    width: 100%;

    &__header {
      @include flexbox($justify: space-between, $items: center);
      width: 100%;
      position: relative;

      &__info {
        @extend %font-title1;
        color: $font;
        max-width: 350px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        @include tablet {
          font-size: 1.2rem;
        }
        @include mobile {
          font-size: 1rem;
        }
        @include mobile2 {
          font-size: 0.9rem;
        }
      }
    }
  }

  &__modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 1000;

    &__closeBtn {
      position: fixed;
      top: 5px;
      right: 5px;
      border: none;
      outline: none;
      background-color: transparent;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  &__additional {
    @include flexbox($justify: flex-start, $items: flex-start, $gap: 1.25rem);
    width: 100%;
    @include desktop {
      flex-direction: column-reverse;
    }

    &__left {
      width: 69%;
      @include flexbox(
        $direction: column,
        $justify: flex-start,
        $items: flex-start,
        $gap: 1.375rem
      );
      @include desktop {
        width: 100%;
      }
    }

    &__right {
      width: 30%;
      @include flexbox(
        $direction: column,
        $justify: flex-start,
        $items: flex-start,
        $gap: 1.375rem
      );
      @include desktop {
        width: 100%;
      }

      &__vin {
        padding: 20px;
        width: 100%;
        border-radius: 8px;
        background: $white;
        @include flexbox($justify: flex-start, $items: center, $gap: 0.625rem);
        @include desktop {
          display: none;
        }

        &__key {
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          color: $font;
        }

        &__value {
          @extend %font-normal;
          color: $font;
        }
      }
    }
  }

  &__similar {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start,
      $gap: 1.875rem
    );
    width: 100%;

    &__header {
      @include flexbox($justify: space-between, $items: center);
      width: 100%;

      &__title {
        @extend %font-title1;
      }

      &__link {
        @include flexbox($justify: space-between, $items: center, $gap: 1rem);
        @extend %font-normal2;
        color: $primary;
      }
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      column-gap: 20px;
      row-gap: 30px;
      margin: 0 auto;
      width: 100%;
      @include large-screen {
        column-gap: 10px;
        row-gap: 20px;
      }
      @include desktop {
        grid-template-columns: repeat(3, 1fr);
      }
      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }
      @include mobile3 {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
  }
}
