@import "../style";

.home {
  background-color: $background;
  height: auto;
  width: 100%;

  .up__arrow {
    position: fixed;
    top: 70%;
    right: 30px;
    @include flexbox($justify: center, $items: center);
    padding: 10px;
    border-radius: 100px;
    border: none;
    outline: none;
    background: $white;
    box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.1);
    z-index: 999;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    @include large-screen {
      padding: 8px;
      right: 10px;
    }

    @include tablet {
      display: none;
    }
  }

  &__hero {
    width: 100%;
    height: 465px;
    background-image: url("../../assets/home/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 15%;
    @include x-large-screen {
      padding-left: 10%;
      padding-right: 10%;
    }
    @include large-screen {
      padding-left: 5%;
      padding-right: 5%;
    }
    @include tablet {
      background-image: none;
      animation: none;
      height: auto;
    }
  }

  &__chatbot {
    position: fixed;
    top: 15%;
    right: 30px;
    z-index: 999;
    @include large-screen {
      right: 10px;
    }
    @include tablet {
      display: none;
    }
  }
}
