@import "../../sass//utils/variables";
@import "../../sass/utils/mixins";
@import "../../sass/utils/colors";

.container {
  background-color: $background;
  min-height: 100vh;
  padding: 50px 15%;
  position: relative;
  h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .filter {
    margin-bottom: 60px;
  }

  .upArrow {
    position: fixed;
    top: 70%;
    right: 30px;
    padding: 10px;
    @include flexbox($justify: center, $items: center);
    border-radius: 100px;
    border: none;
    outline: none;
    background: $white;
    box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.1);

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    @include large-screen {
      padding: 8px;
      right: 10px;
    }

    @include tablet {
      display: none;
    }
  }
}
.titleWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
  margin-top: 30px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    span {
      margin-top: 5px;
      margin-left: 15px;
    }
    &:focus {
      color: $primary;
    }
  }
}
// .products {
//   width: 100%;
//   display: grid;
//   grid-template-columns: auto auto auto auto;
//   column-gap: 20px;
//   row-gap: 30px;
//   justify-content: space-between;
//   margin: 30px 0;
// }

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 30px;
  margin: 0 auto;
  width: 100%;
  margin: 30px 0;
  @include large-screen {
    column-gap: 10px;
    row-gap: 20px;
  }
  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}

.pagination {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .Mui-selected {
  background-color: $primary;
  color: $white;
}

@media only screen and (max-width: 1400px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
