.label {
    margin-left: 20px;
    @media (max-width:768px) {
     margin-left: 0;
      img{
       display: none;
     } 
    }
}
.container {
  p{
    font-family: 'Montserrat',sans-serif !important;
  }
  width:100% ;
  flex-direction: row !important;
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 20px;
  margin-bottom: 30px;
@media (max-width:800px) {
  gap: 10px;
}
}
