@import "../index";

.favorites {
  min-width: 100%;
  padding: 32px 15%;
  background-color: $background;
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $items: flex-start,
    $gap: 2rem
  );
  @include x-large-screen {
    padding-left: 10%;
    padding-right: 10%;
  }
  @include x-large-screen {
    padding-left: 5%;
    padding-right: 5%;
  }

  &__title {
    @extend %font-title1;
    color: $font;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 30px;
    width: 100%;
    @include large-screen {
      column-gap: 10px;
      row-gap: 20px;
    }
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .no__car {
    @include flexbox(
      $direction: column,
      $justify: center,
      $items: center,
      $gap: 1rem
    );
    width: 100%;

    &__text {
      @extend %font-normal2;
      color: $font;
    }

    &__link {
      color: $primary;
      text-decoration: underline;
      font-size: 16px;
      letter-spacing: 0.02px;
    }

    &__img {
      width: 100px;
      height: auto;
    }
  }
}
