@import "../style";

.car__supply {
  @include flexbox(
    $direction: column,
    $justify: space-between,
    $items: flex-start,
    $gap: 1.25rem
  );
  width: 100%;

  &__title {
    @extend %font-normal;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    width: 100%;
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
    }

    &__item {
      flex-grow: 1;
      @include flexbox($justify: flex-start, $items: center, $gap: 0.5rem);

      &__check[type="checkbox"] {
        appearance: checkbox;
        cursor: pointer;
        min-width: 20px;
        min-height: 20px;
        border-radius: 0.3rem;
      }

      &__check[type="checkbox"]:checked {
        accent-color: $primary;
      }

      &__title {
        @extend %font-normal;
        @include mobile3 {
          font-size: 15px;
        }
      }
    }
  }
}
