@import "../style";

.extra__info {
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $items: flex-start,
    $gap: 1rem
  );
  width: 100%;

  &__updated {
    @include flexbox($justify: flex-start, $items: center, $gap: 1.25rem);
    width: 100%;

    &__item {
      @include flexbox($justify: flex-start, $items: center, $gap: 0.5rem);
      color: $lightFont;
      @extend %font-normal;
      letter-spacing: 0.16px;
    }
  }

  &__table {
    width: 100%;
    background-color: $white-light;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 86px;
    row-gap: 30px;
    @include tablet {
      grid-template-columns: repeat(2, auto);
      column-gap: 70px;
      row-gap: 20px;
    }
    @include mobile {
      column-gap: 30px;
    }
    @include mobile3 {
      column-gap: 10px;
    }

    &__item {
      @include flexbox($justify: flex-start, $items: center, $gap: 0.625rem);

      &__img {
        width: 40px;
        height: auto;
        @include mobile2 {
          width: 30px;
        }
      }

      &__content {
        @include flexbox(
          $direction: column,
          $justify: flex-start,
          $items: flex-start,
          $gap: 0.625rem
        );
        @include mobile {
          gap: 0.5rem;
        }

        &__title {
          @extend %font-title2;
          color: $grey1;
        }

        &__value {
          @extend %font-normal2;
          color: $font;
        }
      }
    }
  }
}
