@import "../style";

.new__promotion__room {
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $items: flex-start,
    $gap: 2rem
  );
  @include tablet {
    gap: 1.5rem;
  }

  &__title {
    @extend %font-normal;
    color: $font;
  }

  &__content__control {
    @include flexbox($justify: flex-start, $items: center, $gap: 1.5rem);
    width: 100%;
    flex-wrap: wrap;

    &__item {
      &__label {
        text-align: center;

        .label__img {
          width: 80px;
          height: auto;
          @include desktop {
            width: 50px;
          }
          @include tablet {
            display: none;
          }
        }
      }
    }
  }
}
