@import "../style";

.new__promotion__main__type {
  @include flexbox($justify: flex-start, $items: center, $gap: 2rem);
  width: 100%;
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    flex-grow: 1;

    &__group {
      @include flexbox($justify: flex-start, $items: center, $gap: 2.5rem);
      width: 100%;

      .radio__group__label {
        @extend %font-normal;
        margin-right: 0;
      }
    }
  }

  &__item:last-child {
    display: flex;
    justify-content: flex-end;
    @include tablet {
      justify-content: flex-start;
      grid-column: span 2;
      order: -1;
    }
  }
}

.new__promotion__main__type > * {
  width: 100%;
}
