@import "../style";

.new__promotion__main__type {
  @include flexbox($justify: flex-start, $items: center, $gap: 2rem);
  width: 100%;

  &__item {
    flex-grow: 1;

    &__group {
      @include flexbox($justify: flex-start, $items: center, $gap: 2rem);

      .radio__group__label {
        @extend %font-normal;
      }
    }
  }
}

.new__promotion__main__type > * {
  width: 100%;
}
